:root {
    --padding: 6vh;
}

body {
    margin: 0;
    display: flex;
    background-color: #f9fafc;
    overflow: hidden;
}

.illustration {
    width: 75vh;
    height: 100%;
    padding: 0;
    margin: 0;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: 150px;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    font-size: 80px;
    align-items: center;
    color: white;
}

.logo-container img {
    height: 80%;
}

#bg {
    width: inherit;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.quote-container {
    position: relative;
    min-height: 150px;
    margin-top: var(--padding);
}

.quote {
    padding-left: var(--padding);
    font-weight: 700;
    font-size: 1.5em;
}

.quote #signup-text, .quote #long-text{
    margin: 0;
    max-width: 700px;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    width: 100%;
    box-shadow: 0px 3px #e4e5e7;
    margin: var(--padding) 0px 24px 0px;  
    gap: 32px;
}

legend {
    font-size: 22px;
    padding-left: var(--padding);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #5d6a58;
    font-weight: 700;
}

input {
    margin-bottom: 8px;
}

label {
    font-weight: 700;
    font-size: 10px;
}

button {
    border-radius: 8px;
    border-color: #596d48;
    color: white;
    background-color: #596d48;
    height: 5.5vh;
    width: 200px;   
}

.inputs {
    display: flex;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    min-height: 18vh;
}

.inputs input {
    width: 200px;
    height: 2.5vh;
}

.left-input {
    display: flex;
    flex-direction: column;
    padding: 0px var(--padding);
}

.right-input {
    display: flex;
    flex-direction: column;
}

.action {
    padding-left: var(--padding);
}

input:invalid {
    border: 2px solid red;
    border-radius: 5px;
}